<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Vishal Singh</h1>
        <h3>Full Stack Software Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/singhspvishal/" target="_blank">
    <img src="../../assets/linkedin.png" width="24" height="24" class="me-2">
    </a>

    <a href="https://github.com/singhv6899" target="_blank">
    <img src="../../assets/github.png" width="24" height="24" class="me-2">
    </a>

    <a href="https://www.instagram.com/vishii_fishi/" target="_blank">
    <img src="../../assets/insta.png" width="24" height="24" class="me-2">
    </a>
    </div>
</div>
